# dependencies
node_modules
.pnpm-store

# build
.next
dist
.turbo
out

# env
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# debug
npm-debug.log*
pnpm-debug.log*

# prisma
packages/database/prisma/migrations

# misc
*.tsbuildinfo
coverage
.vercel
